name: Build Android AAB

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: List files (debug)
        run: ls -la

      - name: Go to android folder
        run: cd android && ls -la

      - name: Make gradlew executable
        run: chmod +x android/gradlew

      - name: Build AAB
        run: cd android && ./gradlew :app:bundleRelease

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: app-aab
          path: android/app/build/outputs/bundle/release/app-release.aab
